body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  width:98%;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.pure-form input.ng-dirty.ng-invalid {
  border-color: #e9322d;
}

.field-message {
  display: inline-block;
  color:#e9322d;
  font-size: 90%;
  margin-left: 0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}





